header
{
 background-color: rgb(203,225,205);
 width: 30%;
 height: 230px;
 padding-left: 30px;
 margin-left: 32%;
 margin-bottom: 50px;
}
.presentation{
	margin-top: 10px;
	width: 70%;
}
img
{
	display: block;
	margin-left: 22%;
	position: absolute;
	top: 140px;
}
h1
{
	font-size: 30px;
}
.poste{
	width: 33%;
	margin-left: 32%;
}
.poste_titre{
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
}
.soft_skill{
	display: flex;
	justify-content: center;
}
h2
{
	font-size: 25px;
	position: relative;
    bottom: 35px;
	left: 20%;
	width: 20%;
}
#Conteneur
{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	position: relative;
	top: 100px;
}
.competences{
	border-left: 2px solid orange;
    height: 400px;
    display: flex;
    position: relative;
    bottom: 72px;
    margin-left: 3%;
	justify-content: space-evenly;
	align-items: center;
}
.liste{
	display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
	bottom: 20px;
}
.element
{
	width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	font-size: 25px;
	height: 220px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.entete{
	display: flex;
	align-items: center;
	position: relative;
	bottom: 24px;
	justify-content: space-between;
	width: 100%;
}
.liseret_titre{
	height: 1px;
    width: 120px;
    background-color: black;
}

ul
{
	font-weight: bold;
	color: orange;
	position: relative;
	right: 15px; 
}
li
{
	list-style-type: none;
}
#generalité
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 75px;
	border-bottom: 2px solid rgb(203,225,205);
	;

	}
.general
{
	width: 40%;
	min-width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	font-size: 25px;
	padding-bottom: 25px;
	border-left: 1px dotted orange;
	border-bottom: 1px dotted orange
	
}
.date{
	margin-top: 10px;
}
.titre{
	text-decoration: underline;
	margin-bottom: 10px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	cursor: pointer;
}
.aptitude{
	font-weight: bold;
}
.github{
	margin-top: 10px;
}
h3
{
	font-size: 25px;
	color: orange;
}
.invisible{
    color: white;
}
@media screen and (max-device-width: 425px) {
	.competences {
	  flex-direction: column;
	  top: 10px;
	  height: 600px;
	}
	.element{
		width: 60%;
	}
	#generalité{
		flex-direction: column-reverse;
		top: 200px;
	}
	.general{
		width: 60%;
	}
  }