#en_tete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.header-folio {
  width: 66.6%;
  height: 200px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

nav {
  width: 33.3%;
  height: 200px;
}

.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  color: white;
}

.a_propos {
  height: 200px;
  display: flex;
}

.decoration {
  width: 33.33%;
  height: 200px;
  background-color: antiquewhite;
}

.presentation {
  width: 66.66%;
}

h2 {
  font-size: 20px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.contact {
  width: 5%;
  height: 150px;
  position: fixed;
  z-index: 6;
  left: 95%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.mail {
  position: relative;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.projet_perso {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projet_formation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  position: relative;
  width: 33.33%;
  min-width: 300px;
  height: 300px;
  border-radius: 18px;
  filter: grayscale(20%);
}

h3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50%;
  font-size: 30px;
  margin-top: 0px;
}

h4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
  margin-top: 0px;
}

.pitch {
  height: 100%;
  display: flex;
  align-items: center;
}

.titre {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  background-color: grey;
}
.back{
  position: relative;
    z-index: 2;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 100;
    background-color: white;
    height: 100%;
}
.titre:hover {
  opacity: 0;
}
.titre:hover + .back {
  opacity: 100;
}

.titre_perso {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.github{
  z-index: 3;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
}
.github_back{
  height: 20%;
}
.booki {
  background-color: #0065FC;
}

.ohmyfood {
  background-color: #9356DC;
}

.panthere {
  background-color: #F3976C;
}

.kanap {
  background-color: #3498db;
}

.piquante {
  background-color: #E84E4E;
}

.kasa {
  background-color: #ff6060;
}

.chronique {
  background-color: red;
  height: 100%;
  align-items: center;
  width: 100%;
}

.titre1 {
  background-color: greenyellow;
  align-items: center;
  height: 100%;
}

.titre2 {
  background-color: gray;
  align-items: center;
  height: 100%;
}

i {
  font-size: 35px;
  margin: 5px;
  opacity: 60;
}

.fa-solid {
  font-size: 35px;
  margin-top: 5px;
}

.MDB {
  height: 35px;
  width: 15px;
  margin: 5px;
  opacity: 60;
}
.fleche{
  position: relative;
  top: -70px;
  margin-left: 50%;
}
footer{
  display: flex;
}
.deco-footer{
  width: 39%;
  height: 200px;
}
.deco-footer2{
  width:61%;
  height: 200px;
  background-color: #5b347e;
}
.footer-folio{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media screen and (max-device-width: 767px) {
  article {
    width: 50%;
    height: 400px;
  }
}
h5 {
  writing-mode: vertical-lr;
  text-orientation: upright;
}