#en_tete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  h1 {
    width: 66.6%;
      height: 200px;
      background-color: blueviolet;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
  }
  nav {
    width: 33.3%;
    height: 200px;
  }
  .cv{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: black;
      color: white;
  }
  .a_propos{
    height: 200px;
    display: flex;
  }
  .decoration{
    width: 33.33%;
    height: 200px;
    background-color: antiquewhite;
  }
  .presentation{
    width: 66.66%;
  }
  h2{
    font-size: 20px;
    width: 85%;
  }
  
  .contact {
    width: 5%;
    height: 150px;
    position: fixed;
    z-index: 6;
    left: 95%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  h5 {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  h2 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    z-index: 1;
  }
  
  .projet_perso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .projet_formation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  article {
    position: relative;
      width: 33.33%;
      height: 300px;
      border-radius: 18px;
      border: 0px solid black;
  }
  
  h3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px;
    height: 50%;
  }
  
  h4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    height: 50%;
  }
  
  .pitch {
    position: relative;
    z-index: 2;
    bottom: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    transform-origin: 0% 50%;
    transition: all 0.5s ease-in-out;
    opacity: 0%;
    border: solid 1px #0065FC;
    background-color: white;
  }
  
  .titre {
    z-index: 3;
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-color: grey;
  }
  .titre:hover {
    opacity: 0%;
    border: 1px solid #0065FC;
  }
  .titre:hover + .pitch {
    opacity: 100%;
  }
  
  .titre_perso {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
  }
  .booki{
    background-color:#0065FC ;
  }
  .ohmyfood{
   background-color: #9356DC;
  }
  .panthere{
    background-color: #F3976C;
  }
  .kanap{
    background-color: #3498db;
  }
  .piquante{
   background-color: #E84E4E;
  }
  .kasa{
    background-color: #ff6060;
  }
  .chronique{
    background-color: red;
    height: 100%;
    align-items: center;
  }
  .titre1{
    background-color: greenyellow;
    height: 100%;
    align-items: center;
  }
  .titre2{
    background-color: grayscale;
    height: 100%;
    align-items: center;
  }
  i{
    font-size: 35px;
    margin: 5px;
    opacity: 60%;
  }
  .fa-solid{
    margin: 0px;
    font-size: 35px;
    margin-top: 5px;
  }
  .MDB{
    height: 35px;
    width: 15px;
    margin: 5px;
  }
  /*# sourceMappingURL=styles2.css.map */
